/* * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
} */

/* SETTING COLORS FOR NORMAL, RIGHT, AND WRONG  */
:root {
    --baseColor: aqua; 
    --wrongColor: red; 
    --correctColor: green;
}

body{
    --color: var(--baseColor);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
    height: 100vh;
    background-color: aqua;
    font-family: 14px;
    font-family: Arial, Helvetica, sans-serif ;
}

.main-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 20px;
    border: cadetblue;
}
 /* ANSWER STYLING */

/* using this to show the answers stacked on top of eachother */
.button-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

/* BUTTON STYLING 10:03*/
.button-styling{
    --color: (var(--baseColor))
    padding: 10px; 
}

.button-styling:hover {
    border-color: blue;
}

/* setting up temporary button styling for when it is correct or wrong
*/

.button-styling.correct {
    background-color: var(--correctColor);
    color: white;
}

.button-styling.wrong {
    background-color: var(--wrongColor);
    color: white;
}

.nextSteps {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.start-button-class, .next-button-class {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.hide {
    display: none;
}

/* FOOTER STYLING */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer h3 {
    font-size: 12px;
}