* {
    font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/* SETTING COLORS FOR NORMAL, RIGHT, AND WRONG  */
:root {
    --baseColor: aqua; 
    --wrongColor: red; 
    --correctColor: green;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
    height: 100vh;
    background-color: aqua;
}

body h2 {
  font-size: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: blue;
}

.main-container {
    width: 800px;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    border: blue;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
 /* ANSWER STYLING */

/* using this to show the answers stacked on top of eachother */
.button-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

/* BUTTON STYLING 10:03*/
.button-styling{
    --color: (var(--baseColor))
    padding: 10px; 
}

.button-styling:hover {
    border-color: blue;
    cursor: pointer;
}

/* setting up temporary button styling for when it is correct or wrong
*/

.button-styling.correct {
    background-color: var(--correctColor);
    color: white;
}

.button-styling.wrong {
    background-color: var(--wrongColor);
    color: white;
}

/* styling the start and next buttons */
.nextSteps {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.start-button-class, .next-button-class {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 40px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.start-button-class:hover{
    border-color: aqua;
    cursor: pointer;
}

.next-button-class:hover{
    border-color: aqua;
    cursor: pointer;
}

.hide {
    display: none;
}

.gameOver{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER STYLING */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

footer h3 {
    font-size: 16px;
}